.nav-item{
  font-size: 30px;
  color: black;
  font-weight: 900;
  margin-left: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  background-image: url("../IMAGES/background1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.contact{
  background-image: url(../IMAGE/c_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
}
.contact h2{
  text-align: center;
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: 'Kaushan Script', cursive;
}
input[type=text],input[type=email],#mce-MMERGE6{
  background: transparent;
  color: white;
  font-size: 20px;
  font-family: 'Kaushan Script', cursive;
}
.form-control::-webkit-input-placeholder{
  color: black;
  font-weight: 900;
}
#mce-FNAME{
  width: 30%;
  margin-left: 18%;
  margin-right: 30px;
}
#mce-EMAIL{
  width: 30%;
}
#mce-MMERGE6{
  margin-left: 20%;
  width: 60%;
}
#mc-embedded-subscribe{
  margin-left: 20%;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 425px){
  #mc-embedded-subscribe{
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
  #mce-FNAME{
    width: 84%;
    margin-left: 4%;
    padding-bottom: 10px;
  }
  #mce-EMAIL{
    width: 100%;
    margin-left: 4%;
    margin-bottom: 20px;
  }
  #mce-MMERGE6{
    margin-left: 4%;
    width: 84%;
  }
}
@media only screen and (max-width: 755px){
  button{
    margin-left: 2%;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
}